.dashboard__container {
    width: 80%;
}

.dashboard__grid {
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 25px;
    display: grid !important;
    grid-template-columns: 1fr;
    justify-content: space-around;
}
.dashboard__item {
    height: 195px;
    max-height: 195px;
    overflow: hidden;
}

.dashboard__item-title {
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    color: #333333;
    text-transform: uppercase;
    padding: 15px 10px 8px;
    border-bottom: #f3f3f3 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__item-title > svg {
    color: #0663f9;
}

.dashboard__list-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dashboard__list {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 135px;
}

.dashboard__list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 10px;
    margin-bottom: 5px;
    color: rgb(128, 138, 157);
    padding: 0 15px;
    text-align: left;
}

.dashboard__list-header--four-columns {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.dashboard__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    padding: 3px 0 3px;
    text-align: left;
    padding: 4px 15px 4px;
    border-bottom: #eff2f5 solid 1px;
}
.dashboard__list-item--align-right {
    text-align: right;
}
.dashboard__list-item--four-columns {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.dashboard__account-title {
  font-size: 26px;
  text-align: left;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: solid 1px #f9f9f9;
}

@media screen and (min-width: 768px) {
    .dashboard__grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
