.app {
  text-align: center;
  background-color: #F5F5F5;
  font-family: "Open Sans", "Source Sans Pro", sans-serif;
}

.app-header {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header__bar {
  background-color: #1F72FA !important;
}
.app-header__link {
  color: #333333;
  text-decoration: none;

}

.app-header__link:hover {
  text-decoration: underline;
}

.app__btn {
  max-height: 36px;
  display: flex;
  align-items: center;
}

.login__container {
  height: 100vh;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
}

.login__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.login__alert {
  position: relative;
  height: 20px;
}

.login__loader {
  height: 36px;
  max-height: 36px;
  padding-top: 5px;
}
.login__error-label {
  color: #f44336;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.account__container {
    flex-grow: 1;
    height: calc(100vh - 70px);
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
